.vscode
build
CMakePresets.json
.clang-format
CMakeLists.txt.user
my_lib.session.sql
.vs/CMake Overview
.vs/cmake.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/library_management_system/FileContentIndex/2ec3ab11-85f1-4517-b017-1835867696c5.vsidx
.vs/library_management_system/FileContentIndex/5e5bed4e-a352-49e2-97e3-9a1d347ffa7a.vsidx
.vs/library_management_system/FileContentIndex/3942823d-1c52-41e2-a35c-edc3bf0bde01.vsidx
.vs/library_management_system/v17/.wsuo
.vs/library_management_system/v17/Browse.VC.db
.vs/library_management_system/v17/DocumentLayout.json
.vs/library_management_system/v17/ipch/AutoPCH/2826d45a9d69b1fb/CBOOKWIDGET.ipch
